# Jupyter Notebooks
.ipynb_checkpoints/

# Python cache
__pycache__/
*.py[cod]

# Ignore all Excel files by default
*.xlsx

# But allow the cleaned file for Tableau
!data/For_Tableau_online_retail_II.xlsx

# Tableau files
*.twbx

# System files
.DS_Store
Thumbs.db

